
Documents/
Hardware/DES_M0_SoC\.cache/
Hardware/DES_M0_SoC\.hw/
Hardware/DES_M0_SoC\.runs/
Hardware/DES_M0_SoC\.sim/
Hardware/DES_M0_SoC\.srcs/
Hardware/\.Xil/
Software/temp_files

!.c
!.hex
!.v
*.xml

*.log

*.js

*.jou

*.bak

